main {
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
    align-items: center ;
}

section {
    display: flex ;
    justify-content: space-around;
    width: 100%
}

p {
    background-color: rgb(236, 223, 33) ;
}